{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Global Communities</h1>

<form method="GET">
    <fieldset class="form-group">
        {{ filter.form|crispy }}
        <script>
          var form_fields = document.getElementsByTagName('input')
          form_fields[0].placeholder='Search a community here!';
        </script>
      	<button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Search</button>
      	<a class="btn btn-outline-info" href="{% url 'community' %}"><i class="fas fa-remove-format"></i> Clear</a>
    </fieldset>
 </form>

<div class="row">
{% for community in communities %}
<article class="media content-section md-5 col-xl-5 col-lg-5 ml-5">
	<div class="media-body">
		<div class="article-metadata">
			<small>Created by:&nbsp;&nbsp;</small>{{ community.username }}&nbsp;&nbsp;
			<small class="text-muted">{{ community.date_created|date:"F d, Y" }}</small>
		</div>
		<a href="{% url 'community_detail' community.id %}"><h2 class="article-title">{{ community.name }}</h2></a>
		<p class="article-content">{{ community.desc }}</p>
	</div>
</article>
{% endfor %}
</div>

{% endblock content %}